<div class="headerimg">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <h1 style="font-family: 'Seaweed Script', cursive; font-size: 5em;">Create new game</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <form [formGroup]="newGameForm" (ngSubmit)="onSubmit(newGameForm.value)">
        <mat-form-field appearance="outline">
          <mat-label for="name">
            Game name
          </mat-label>
          <input matInput id="name" type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="brief">
            Brief
          </mat-label>
          <textarea matInput id="brief" type="text" formControlName="brief"></textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Create</button>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-grid-list cols="2" rowHeight="350px">
  <mat-grid-tile class="alempi">
    <h1 style="font-family: 'Seaweed Script', cursive; font-size: 5em;">Your games</h1>
  </mat-grid-tile>
  <mat-grid-tile class="alempi">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab mat-stretch-tabs *ngFor="let game of allGames" label={{game.name}}>
        <p class="gamebrief">{{game.brief}}</p>
        <button mat-raised-button color="accent">Open</button>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>